@font-face {
    font-family: 'BubbleboddyNeue';
    src: url('../fonts/BubbleboddyNeue.eot');
    src: url('../fonts/BubbleboddyNeue.eot') format('embedded-opentype'),
         url('../fonts/BubbleboddyNeue.woff2') format('woff2'),
         url('../fonts/BubbleboddyNeue.woff') format('woff'),
         url('../fonts/BubbleboddyNeue.ttf') format('truetype'),
         url('../fonts/BubbleboddyNeue.svg#BubbleboddyNeue') format('svg');
}