* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cleara:after {
  content: "";
  display: table;
  clear: both;
}
*:focus {
  outline: none;
}
/* general style*/
html {
  height: 100%;
}
body {
  font: 16px/1.64 'RobotoLight', sans-serif;
  width: 100%;
  background: #fff;
  color: #000000;
  height: 100%;
  position: relative;
}
a {
  outline: none;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: none;
  color: #333333;
}
p {
  margin: 0 0 10px;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
  outline: none;
}
.center {
  text-align: center;
}
.wrap {
  max-width: 1140px;
  min-width: 320px;
  padding: 0 12px;
  margin: 0 auto;
}
.wrap--big {
  max-width: 1700px;
}
.h2-title {
  font-family: 'BubbleboddyNeue', sans-serif;
  color: #000;
  font-size: 35px;
  line-height: 1.1;
  position: relative;
  text-align: center;
  margin: 0 0 30px;
}
.h2-title span {
  background: #fff;
  padding: 0 60px;
  position: relative;
  z-index: 3;
  display: inline-block;
}
.h2-title:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #878787;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
}
.center {
  text-align: center;
}
.trn {
  transition: all 0.3s ease;
}
.section {
  padding: 30px 0;
}
.header {
  background: #f1f1f1;
  position: relative;
}
.header:after {
  content: "";
  display: block;
  height: 17px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  background: url("../img/wave-bg.png") repeat-x left top;
}
.header__target {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: 'RobotoBold', sans-serif;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 60px;
}
.header__target-wr {
  height: 60px;
  background-color: #b7c9cf;
}
.header__target .col-img {
  flex-shrink: 0;
  width: 90px;
}
.header__target .col-text {
  flex-shrink: 0;
  width: 410px;
}
.header__main {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 114px;
}
.header-phone {
  display: inline-block;
  font-family: 'RobotoMedium', sans-serif;
  color: #616161;
  font-size: 20px;
}
.logo {
  display: block;
}
.logo img {
  width: 222px;
  height: 51px;
  display: block;
}
.phone-btn {
  display: inline-block;
  height: 67px;
  width: 67px;
  background: url("../img/phone-btn-bg.png") no-repeat center center;
}
.menu-btn {
  display: block;
  background: url("../img/icons/menu-btn.png") no-repeat center center;
  height: 22px;
  width: 24px;
  flex-shrink: 0;
  cursor: pointer;
}
.catalog-link {
  display: inline-block;
  font-family: 'BubbleboddyNeue', sans-serif;
  font-size: 16px;
  color: #616161;
  padding-left: 40px;
  min-height: 19px;
  background: url("../img/icons/bear-face-ico.png") no-repeat left center;
}
.main {
  height: 470px;
  background: url("../img/main-slide-bg.jpg") no-repeat center center;
  background-size: cover;
}
.quick-order {
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.quick-order-wr {
  background-color: #fafafa;
}
.quick-order__right {
  width: 320px;
  flex-shrink: 0;
}
.quick-order__text {
  padding-left: 45px;
  background: url("../img/icons/small-heart-ico.png") no-repeat left center;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'RobotoMedium', sans-serif;
  color: #6e6e6e;
}
.quick-order__phone {
  position: relative;
}
.quick-order__phone form {
  display: block;
  width: 100%;
}
.quick-order__phone .phone-field {
  display: block;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #b4adad;
  height: 46px;
  line-height: 44px;
  font-size: 18px;
  font-family: 'RobotoLight', sans-serif;
  color: #6e6e6e;
  padding: 0 60px 0 25px;
  background: #fafafa;
}
.quick-order__phone .phone-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  display: block;
  border-radius: 50%;
  border: 0;
  background: url("../img/icons/right-arr-ico.png") no-repeat center center #e7b1af;
  text-indent: -9999px;
  z-index: 3;
  cursor: pointer;
  transition: all 0.3s ease;
}
.quick-order__phone .phone-btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.reviews {
  display: flex;
}
.reviews-wr {
  position: relative;
  background: #fff;
}
.reviews-wr:after {
  content: "";
  display: block;
  height: 8px;
  width: 100%;
  position: absolute;
  bottom: -8px;
  background: url("../img/white-waves-bg.png") repeat-x left top;
  z-index: 5;
}
.reviews-item {
  width: 205px;
  flex-shrink: 0;
}
.reviews-item__photo {
  display: block;
}
.reviews-item__photo img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.reviews-item__title {
  font-family: 'BubbleboddyNeue', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
  text-align: center;
  padding: 8px 0;
}
.reviews-item--big {
  flex-grow: 1;
  position: relative;
  padding: 0 18px;
  margin-bottom: 65px;
}
.reviews-item--big .reviews-text-wr {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 80%;
}
.reviews-item--big .reviews-text {
  background: #f8efee;
  padding: 15px 35px;
}
.reviews-item--big .reviews-item__title {
  background: #fff;
}
.reviews-text {
  color: #000000;
  font-size: 15px;
  font-family: 'RobotoLight', sans-serif;
  line-height: 1.2;
}
.reviews--grey {
  background: #fafafa;
}
.reviews--grey .h2-title span {
  background: #fafafa;
}
.reviews--grey.reviews-wr:after {
  height: 12px;
  bottom: -12px;
  background: url("../img/lgrey-waves-bg.png") repeat-x left top;
}
.works-wr {
  position: relative;
  background: url("../img/stars-bg.png") no-repeat center center #f8f8f8;
}
.works-wr .h2-title span {
  background: #f8f8f8;
}
.works-wr .h2-title:after {
  background: #c4c4c3;
}
.works__item {
  text-align: center;
  width: 50%;
  margin: 55px auto 0;
}
.works__item img {
  display: block;
  max-width: 100%;
  margin: 25px auto;
}
.works__item-text {
  font-size: 25px;
  line-height: 1.1;
  color: #000000;
  font-family: 'BubbleboddyNeue', sans-serif;
  text-transform: uppercase;
}
.works__item .animated-arr {
  display: block;
  width: 23px;
  height: 25px;
  background: url("../img/icons/bottom-black-arr.png") no-repeat left top;
  margin: 55px auto;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 55px -6px 0;
}
.catalog-item {
  width: 33.3333%;
  padding: 0 6px;
  color: #000;
  text-align: center;
  margin: 0 0 50px;
}
.catalog-item--big {
  width: 66.6666%;
}
.catalog-item--big .catalog-item__image .heart-btn {
  left: auto;
  right: 155px;
  transform: translateX(0s);
}
.catalog-item--big:hover .catalog-item__image .heart-btn {
  -webkit-transform: translateX(0) scale(1.1);
  -moz-transform: translateX(0) scale(1.1);
  -o-transform: translateX(0) scale(1.1);
  transform: translateX(0) scale(1.1);
}
.catalog-item--action .catalog-item__image:after {
  content: "";
  display: block;
  width: 294px;
  height: 125px;
  background: url("../img/action-label.png") no-repeat left top;
  position: absolute;
  bottom: -25px;
  left: 65px;
}
.catalog-item__image {
  display: block;
  text-align: center;
  line-height: 360px;
  border: 2px solid #f8f0ef;
  margin: 0 0 35px;
  position: relative;
}
.catalog-item__image img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.catalog-item__image .heart-btn {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e8bfbd;
  text-align: center;
  color: transparent;
  font-family: 'RobotoBold', sans-serif;
  font-size: 1px;
  line-height: 50px;
  transition: all 0.3s ease-in;
}
.catalog-item__image .heart-btn span {
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/icons/white-heart-ico.png") no-repeat center center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.3s ease;
}
.catalog-item__image .heart-btn:hover {
  -webkit-transform: translateX(-50%) scale(1.1);
  -moz-transform: translateX(-50%) scale(1.1);
  -o-transform: translateX(-50%) scale(1.1);
  transform: translateX(-50%) scale(1.1);
}
.catalog-item__title {
  font-family: 'BubbleboddyNeue', sans-serif;
  font-size: 25px;
  line-height: 1.1;
  margin: 0 0 5px;
}
.catalog-item__price {
  font-family: 'RobotoRegular', sans-serif;
  font-size: 25px;
  line-height: 1.1;
}
.catalog-item__price .old {
  color: #a3a3a3;
  text-decoration: line-through;
}
.catalog-item__price .new {
  color: #d2a2a0;
  font-family: 'RobotoBold', sans-serif;
}
.catalog-item:hover .heart-btn {
  background: #9ececd;
  color: #fff;
  width: 220px;
  border-radius: 25px;
  font-size: 18px;
  text-shadow: 0 2px 2px rgba(32, 15, 8, 0.15);
}
.catalog-item:hover .heart-btn span {
  opacity: 0;
}
.more-btn {
  display: inline-block;
  color: #988b8b;
  font-size: 18px;
  line-height: 18px;
  font-family: 'RobotoLight', sans-serif;
  padding: 15px 35px;
  border: 1px solid #b4adad;
  border-radius: 25px;
}
.contacts {
  display: flex;
}
.contacts-wr {
  background: #f4f5f5;
  padding: 60px 0 50px;
}
.contacts-wr .h2-title span {
  background: #f4f5f5;
}
.contacts-item {
  width: 33.3333%;
  padding: 0 30px;
}
.contacts-item__image {
  display: block;
  height: 165px;
  line-height: 165px;
  text-align: center;
  margin-bottom: 10px;
}
.contacts-item__image img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.contacts-item__text {
  position: relative;
  font-size: 18px;
  line-height: 1.12;
  font-family: 'RobotoLight', sans-serif;
  color: #000;
}
.contacts-item__text span {
  color: #bd7e87;
}
.contacts-item__text a {
  color: #bd7e87;
  font-family: 'RobotoMedium', sans-serif;
  font-style: italic;
  text-decoration: none;
  padding-right: 13px;
  background: url('../img/icons/pink-arr-fat.png') no-repeat right center;
}
.contacts-item__text a span {
  border-bottom: 1px solid #bd7e87;
}
.contacts-item__text:after {
  content: '';
  display: block;
  width: 10px;
  height: 17px;
  background: url('../img/icons/pink-arr-slim.png') no-repeat left top;
  position: absolute;
  right: -30px;
  top: 20px;
}
.contacts-item:last-child .contacts-item__text:after {
  display: none;
}
.bottom-screen {
  background: url("../img/bottom-slide-bg.jpg") no-repeat center center;
  padding: 65px 0;
}
.bottom-screen__content {
  width: 52%;
}
.bottom-screen__content .blue-text {
  font-family: 'BubbleboddyNeue', sans-serif;
  color: #618d9d;
  font-size: 45px;
  line-height: 1.13;
  margin-bottom: 50px;
}
.bottom-screen__content .logo-text {
  display: inline-block;
  padding-top: 50px;
  font-size: 54px;
  line-height: 1.1;
  color: #000;
  font-weight: 700;
  font-family: 'BubbleboddyNeue', sans-serif;
  background: url("../img/icons/bear-face-big.png") no-repeat center top;
  margin-bottom: 35px;
}
.bottom-screen__content .logo-text img {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 3px;
}
.bottom-screen__content .order-btn {
  display: block;
  height: 62px;
  width: 270px;
  border-radius: 30px;
  background: #9ececd;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  font-family: 'RobotoBold', sans-serif;
  text-align: center;
  line-height: 62px;
  opacity: 1;
  text-shadow: 0 2px 2px rgba(32, 15, 8, 0.15);
  transition: all 0.3s ease;
}
.bottom-screen__content .order-btn:hover {
  opacity: .8;
}
.footer {
  height: 146px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-wr {
  background: #fff;
  position: relative;
}
.footer-wr:after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  top: -10px;
  background: url("../img/wave-footer-bg.png") repeat-x left top;
}
.footer-logo {
  display: inline-block;
  vertical-align: middle;
}
.footer-logo-wr {
  display: block;
  width: 60px;
  flex-shrink: 0;
  text-align: center;
}
.footer-phone {
  display: inline-block;
  border: 2px solid #e8bfbd;
  color: #c89492;
  font-family: 'RobotoMedium', sans-serif;
  padding: 13px 18px;
  border-radius: 30px;
  line-height: 20px;
  font-size: 20px;
}
.footer-phone-wr {
  flex-shrink: 0;
}
.footer-phone:hover {
  color: #e8bfbd;
}
.footer-social {
  flex-shrink: 0;
}
.footer-social__item {
  display: inline-block;
  vertical-align: middle;
  width: 37px;
  height: 37px;
  background-position: left top;
  background-repeat: no-repeat;
  margin: 0 3px;
  opacity: 1;
  transition: all 0.3s ease;
}
.footer-social__item.soc-fb {
  background-image: url("../img/icons/fb-ico.png");
}
.footer-social__item.soc-inst {
  background-image: url("../img/icons/inst-ico.png");
}
.footer-social__item:hover {
  opacity: .85;
}
.footer-design {
  flex-shrink: 0;
}
.footer-design .design-logo {
  display: inline-block;
  vertical-align: middle;
}
.footer-design .design-logo img {
  display: block;
}
.footer-menu {
  display: block;
  padding: 0;
  margin: 0;
}
.footer-menu-wr {
  display: flex;
  align-items: center;
  margin: 0 -25px;
}
.footer-menu__col {
  padding: 0 25px;
}
.footer-menu li {
  margin: 0;
  display: block;
  text-align: center;
}
.footer-menu li a {
  text-decoration: none;
  font-size: 18px;
  font-family: 'RobotoRegular', sans-serif;
  color: #616161;
  transition: all 0.3s ease;
}
.footer-menu li a:hover {
  opacity: .8;
}
.slider {
  margin-bottom: 0!important;
}
.slider-wr {
  position: relative;
}
.slider-wr:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  height: 21px;
  background: url("../img/slider-top-border.png") repeat-x 50% 0;
  z-index: 5;
}
.slider-wr > .wrap {
  position: relative;
}
.slider-wr .h2-title {
  overflow: hidden;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  width: 100%;
}
.slider-wr .h2-title span {
  color: #c29977;
  position: relative;
  background: none;
}
.slider-wr .h2-title span:before,
.slider-wr .h2-title span:after {
  content: "";
  position: absolute;
  width: 3000px;
  top: 50%;
  border-top: 1px solid rgba(99, 99, 99, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.slider-wr .h2-title span:before {
  right: 100%;
}
.slider-wr .h2-title span:after {
  left: 100%;
}
.slider-wr .h2-title:after {
  display: none;
}
.slider__item {
  height: 820px;
  padding-top: 185px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__item--1 .slider-info {
  margin-left: 56%;
}
.slider__item--1 .slider-info:before {
  content: "";
  position: absolute;
  left: -192px;
  top: 0;
  width: 114px;
  height: 77px;
  background: url("../img/slider-info-line.png") no-repeat 50% 50%;
}
.slider__item--2 .slider-info,
.slider__item--4 .slider-info {
  margin-left: 5%;
}
.slider__item--2 .slider-info:before,
.slider__item--4 .slider-info:before {
  content: "";
  position: absolute;
  right: -125px;
  top: 98px;
  width: 112px;
  height: 77px;
  background: url("../img/slider-info-line2.png") no-repeat 50% 50%;
}
.slider__item--3 .slider-info {
  margin-left: 60%;
  margin-top: 250px;
}
.slider__item--3 .slider-info:before {
  content: "";
  position: absolute;
  left: -192px;
  top: -98px;
  width: 112px;
  height: 77px;
  background: url("../img/slider-info-line2.png") no-repeat 50% 50%;
}
.slider__item--5 .slider-info {
  margin-left: 60%;
  margin-top: 300px;
}
.slider__item--5 .slider-info:before {
  content: "";
  position: absolute;
  left: -192px;
  top: -98px;
  width: 112px;
  height: 77px;
  background: url("../img/slider-info-line2.png") no-repeat 50% 50%;
}
.slider__item--6 .slider-info {
  margin-left: 14%;
  margin-top: 110px;
}
.slider__item--6 .slider-info:before {
  content: "";
  position: absolute;
  right: -125px;
  top: 98px;
  width: 112px;
  height: 77px;
  background: url("../img/slider-info-line2.png") no-repeat 50% 50%;
}
.slider-controls .slick-arrow {
  top: -260px;
  width: 46px;
  height: 46px;
  transform: none;
  transition: all 0.3s ease;
}
.slider-controls .slick-arrow:hover {
  transform: scale(1.3);
}
.slider-controls .slick-arrow:before,
.slider-controls .slick-arrow:after {
  display: none;
  content: "";
}
.slider-controls .slick-arrow.slick-prev {
  left: -10px;
  background: url("../img/slider-prev.png") no-repeat 50% 50%;
}
.slider-controls .slick-arrow.slick-next {
  right: -10px;
  background: url("../img/slider-next.png") no-repeat 50% 50%;
}
.slider .slick-dots {
  bottom: 50px;
}
.slider .slick-dots li button {
  border: 1px solid #fff;
}
.slider .slick-dots li button:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  left: 5px;
  top: 5px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease;
}
.slider .slick-dots li.slick-active button:before {
  opacity: 1;
  transform: scale(1);
}
.slider-info {
  position: relative;
  width: 430px;
}
.slider-info--blue .slider-info__title {
  background: #cde1e9;
}
.slider-info--blue .slider-info__number {
  background-image: url("../img/icons/blue-heart-ico.png");
}
.slider-info--pink .slider-info__title {
  background: #f7ebe9;
}
.slider-info--pink .slider-info__number {
  background-image: url("../img/icons/pink-heart-ico.png");
}
.slider-info__title {
  height: 98px;
  padding: 18px 35px;
  background: #e5ded8;
  font-family: 'BubbleboddyNeue', sans-serif;
  font-size: 25px;
  line-height: 1.3;
  color: #333;
}
.slider-info__text {
  padding: 26px 35px;
  font-size: 16px;
  line-height: 1.25;
  font-family: Arial;
  color: #333;
  background: #fff;
  text-align: justify;
}
.slider-info__number {
  position: absolute;
  left: -65px;
  top: 0;
  width: 65px;
  height: 98px;
  padding: 45px 0 0 8px;
  text-align: center;
  font-size: 25px;
  font-family: 'RobotoBold', sans-serif;
  background: url("../img/icons/brown-heart-ico.png") no-repeat 50% 25px #ffffff;
}
